.wordBox-parent{
    max-width:1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
    text-align: center;
    transition:  0.3s ease;
}
.correctLetter{
    color: green;
}

.incorrectLetter{
    color: red;
    text-decoration: underline;
}
.highlightLetter{
    text-decoration: underline;
}
@media only screen  and (max-width: 600px){
    .wordBox-parent{
        gap:2px;
        
    }
}