.wordBox-parent{
    width:1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
    text-align: center;
}
.correctLetter{
    color: green;
}

.incorrectLetter{
    color: red;
    text-decoration: underline;
}
.highlightLetter{
    text-decoration: underline;
}
